.about-myself-div {
    background-color: #ffffff;
    height: 924px;
    position: relative;
  
}

.image-container {
    width: 336px;
}

.about-me-container {
    left: 386px;
    position: absolute;
    top: 0.5px;
}


