.about-myself-div {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
}

.image-container {
    width: 336px;
}

.about-me-container {
    left: 375px;
    position: absolute;
    top: 0.5px;
}


