.networking-events-container {
    background-color: #d9d9d9;
    border: 5px solid #001f3f;
    border-radius: 25px;
    box-shadow: inset 0px 4px 4px #00000040;
    height: 378px;
    position: absolute;
    top: 380px;
    width: 790px;
}
