/* PersonalDetails.css */
.personal-details-container {
    background-color: #faf3e0;
    border: 5px solid #001f3f;
    border-radius: 25px;
    height: 350px;
    width: 400px;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name-text {
    color: #b91646;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-size: 26px;
    font-weight: 800;
    position: absolute;
    top: 17px;
}


.college-detail {
    height: 42px;
    left: 32px;
    position: absolute;
    top: 85px;
    width: 517px;
}

.college-name {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
    width: 350px;
}

.graduation-cap {
    height: 39px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 45px;
}

.college-detail {
    height: 42px;
    left: 32px;
    position: absolute;
    top: 85px;
}

.job-detail {
    height: 42px;
    left: 32px;
    position: absolute;
}


.job-name {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 110px;
    letter-spacing: 0;
    text-align: center;
    width: 350px;
}

.employee-line-icon {
    height: 44px;
    left: 0;
    position: absolute;
    top: 0;
    width: 44px;
}

.tech-text {
    color: #000000;
    padding-top: 30px;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 110px;
    letter-spacing: 0;
    text-align: center;
    width: 350px;
}

.skills{
    padding-top: 130px;
}

.skills-list {
    list-style: none;
    padding-top: 30px;
    display: flex;
    justify-content: space-around; /* Adjust as needed */
}

.skill-item {
    position: relative;
    text-align: center;
}

.icon-container {
    position: relative; /* Set to relative to allow absolute positioning within it */
}

.skill-icon {
    font-size: 2em; /* Adjust icon size as needed */
}

.skill-text {
    display: none;
    font-size: 0.8em;
    position: absolute; /* Absolute positioning */
    bottom: -20px; /* Adjust this value to position the text properly */
    left: 50%;
    transform: translateX(-50%); /* Center the text */
    white-space: nowrap; /* Prevents the text from breaking into multiple lines */
}

.skill-item:hover .skill-text {
    display: block;
}
