.header-content-wrapper {
    position: relative;
    height: 4px;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.header-label {
    width: 100%;
    height: 354px; /* height from the Figma design */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    position: relative;
    box-sizing: border-box;
}

.header-label .header-greeting {
    color: transparent;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 12px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /* Makes the items align horizontally */
    align-items: flex-start;
}

.header-label .header-text-wrapper-1 {
    color: #000000;
    font-weight: 700;
    line-height: 70px;
}

.header-label .span {
    color: #000000;
    font-size: 94px;
    font-weight: 700;
    line-height: 110px;
}

.header-label .header-text-wrapper-2 {
    color: #008080;
    font-size: 94px;
    font-weight: 700;
    line-height: 110px;
    margin-left: 25px;
}

.header-label .header-text-wrapper-3 {
    color: #000000;
    font-family: "Roboto-Light", Helvetica;
    font-size: 46px;
    font-weight: 300;
    line-height: 60px;
}

.header-animation-content {
    overflow: hidden;
    height: 50px;
    font-size: 35px;
    line-height: 40px;
    color: #6e888f;
    position: relative;
    display: block;
    
}

.header-animation-container {
    font-weight: 600;
    overflow: hidden;
    height: 43px;
    padding: 0 30px;
    position: relative;

}

.header-animation-container:before {
    content: '{';
    left: 0;
    color: #493552;
}

.header-animation-container:after {
    content: '}';
    position: absolute;
    right: 0;
    color: #493552;
}

.header-animation-container:before,
.header-animation-container:after {
    position: absolute;
    top: 0;
    color: #493552;
    font-size: 42px;
    line-height: 40px;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.header-animation-list {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    animation-name: change;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.header-animation-list-item {
    line-height: 40px;
    margin: 0;
}

@keyframes opacity {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes change {

    0%,
    12.66%,
    100% {
      transform: translate3d(0, 0, 0);
    }
  
    16.66%,
    29.32% {
      transform: translate3d(0, -25%, 0);
    }
  
    33.32%,
    45.98% {
      transform: translate3d(0, -50%, 0);
    }
  
    49.98%,
    62.64% {
      transform: translate3d(0, -75%, 0);
    }
  
    66.64%,
    79.3% {
      transform: translate3d(0, -50%, 0);
    }
  
    83.3%,
    95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }



