.landing-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 850px;
    width: 100%;
    margin: auto;
    padding-left: 50px;
}



@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animated-entry {
    animation: slideUp 1s ease-out both;
}

