.landing-container {
    background-color: #ffffff;
    flex-direction: column;
    height: 850px;
    padding-left: 30px;
}


@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animated-entry {
    animation: slideUp 1s ease-out both;
}

