.experience-box {
  height: 500px;
  width: 790px;
  margin: auto;
  position: relative;
  background-color: #faf7f2;
  border: 5px solid #001f3f;
  border-radius: 30px;
  padding-left: 20px;
}

.company-list {
  height: 47px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.company-name {
  color: #000000;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  line-height: 41.6px;
  text-align: center;
  cursor: pointer;
}

.company-name:nth-child(1) {
  width: 100px;
  left: calc(50% - 400px);
}

.company-name:nth-child(2) {
  width: 150px;
}

.company-name:nth-child(3) {
  width: 150px;
  left: calc(50% - 75px);
}

.company-name:nth-child(4) {
  width: 120px;
  left: calc(50% + 50px);
}

.role-duration {
  background-color: #e6beb5;
  border-radius: 30px;
  height: 92px;
  width: 400px;
  position: relative;
  top: 6px;
  left: 30px;
}

.role-duration .role-and-duration {
  color: #000000;
  font-family: "Roboto-Medium", Helvetica;
  position: absolute;
  line-height: 41.6px;
  left: 15px;
}

.role-duration .role-company {
  font-weight: 500;
  font-size: 18px;
}

.role-duration .role-time {
  font-size: 15px;
}

/* .responsibility-item {
  list-style: none;
  padding: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 22px;
  color: #000;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.responsibility-item:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-size: cover;
} */

.responsibility-list {
  height: 300px;
  width: 700px;
  position: relative;
  background-color: #faf7f2;
  border-radius: 30px;
  left: 20px;
  padding-top: 25px;
}

.responsibility-list .responsibilities {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 18px;
  font-weight: 200;
  line-height: 31.6px;
  top: 10px;
  left: 20px;
}

.responsibility-list .responsibilities .responsibility-description {
  background-color: #f2e6d4;
  border-radius: 30px;
  position: relative;
}

.responsibility-list .responsibility-arrow {
  height: 16px;
  left: 21px;
  position: absolute;
  top: 192px;
  width: 16px;
}

.responsibility-list .responsibility-img {
  height: 16px;
  left: 21px;
  position: absolute;
  top: 25px;
  width: 16px;
}

.responsibility-list .responsibility-arrow-2 {
  height: 16px;
  left: 21px;
  position: absolute;
  top: 109px;
  width: 16px;
}

.responsibility-list .responsibility-item {
  list-style: none;
  padding: 0;
  font-family: "Roboto-Regular", Helvetica;
  /* font-size: 22px; */
  color: #000;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}