.contact_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body[data-theme='dark'] .contact_content {
    /* You can adjust this part according to your site's theme or remove it if you don't have dark mode */
    color: white;
    background: #221F2E;
  }
  
  body[data-theme='light'] .contact_content {
    color: black;
    background: linear-gradient(135deg, #58a497, #2db8e7);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  }

  .contact-box {
    display: flex;
    width: 60%; /* You can adjust this width based on your design preference */
    margin: 0 auto; /* To center the box */
    box-shadow: 0 2.5px 5px #ccc;
    border-radius: 25px; /* You can adjust this if you want */
    overflow: hidden; /* This is to ensure child elements respect the border-radius of the parent */
}

.contact-left {
    flex: 1; /* This ensures the left side takes up half the width */
    width: 30%;
    background: radial-gradient( circle at 55% 92%, #426691 0 12%, transparent 12.2% ), radial-gradient( circle at 94% 72%, #426691 0 10%, transparent 10.2% ), radial-gradient( circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2% ), radial-gradient( circle at 0% 0%, #263a53 0 40%, transparent 40.2% ), #1f2e43;
    border-radius: 10px 0 0 10px; 
    padding: 8% 5% 10% 5%;
    display: flex;
    justify-content: center;
    align-items: center; /* These three lines help center the content inside contact-left */
}
  
  .contact_content {
    flex: 1; /* This ensures the right side takes up half the width */
    width: 30%;
    padding: 25px;
    border-radius: 25px 25px;
    background-color: #fff;
    box-shadow: 0 2.5px 5px #ccc;
    margin: 20px auto;
  }
  
  .contact_content h1 {
    text-align: center;
  }
  
  .contact_grid-35 {
    width: 35%;
  }
  
  .contact_grid-65 {
    width: 65%;
    display: flex;
    align-items: center;
  }
  
  fieldset {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
  }
  
  label {
    display: flex;
    align-items: center;
  }
  
  input, textarea {
    width: -webkit-fill-available;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact_buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .contact_Btn {
    position: relative;
    width: 150px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #00dbde, #fc00ff, #fc00ff, #00dbde);
    background-size: 400%;
    animation: effect 10s linear infinite;
  }
  
  @keyframes effect {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400% 0;
    }
  }
  