
.description-section {
    height: 337px;
    width: 729px;
    position: absolute;
    top: 557px;
    left: 216px;
}

.description-content {
    height: 337px;
    left: 0;
    position: fixed;
    top: 0;
    width: 731px;
}

.description-text {
    color: #a9a9a9;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 34px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 41.6px;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    width: 729px;
}

.description-button {
    left: 0;
    position: absolute;
    top: 230px;
}
