.experience {
    /* Your experience container styles here */
  }
  
  .experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1181px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 20px;
  }
  
  .experience-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
    width: 23%;
  }
  
  .bg-white_A700 {
    background-color: #f7f7f7;
  }
  
  .cut-button,
  .settings-button,
  .lightbulb-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;
    border-radius: 10px;
  }
  
  .cut-icon,
  .settings-icon,
  .lightbulb-icon {
    height: 23px;
  }
  
  .experience-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }
  
  .experience-role {
    font-weight: bold;
    color: #000;
    text-align: left;
    width: auto;
  }
  
  .experience-company {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    font-style: normal;
    color: #707070;
    text-align: left;
    width: 100%;
  }
  