.intro-container {
  height: calc(100vh);
  margin: auto;
  position: relative;
  width: 100%;
}

.intro-content {
  height: 100%;
  margin-left: auto;
  right: 0;
  padding-right: 60px;
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.intro-heading {
  font-size: 50px;
  text-align: right;
  color: #000;

}

.paragraph-container {
  margin-top: 40px;
  width: 100%;
  text-align: right;
}

.intro-description {
  text-align: right;
  margin-top: 40px;
  font-size: 35px;
  line-height: 1.43;
  font-style: normal;
  color: #000;
  width: 100%;
  animation: fadeIn 1.5s ease-in-out 1.5s;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 2s ease-in-out 1.5s forwards;
  min-height: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-passionate-text {
  margin-top: 40px;
  height: 200px;
}

.intro-contact {
  line-height: 1.5;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  visibility: visible;
  box-sizing: border-box;
  text-decoration: none !important;
  font-weight: bolder;
  font-family: "NTR", sans-serif;
  padding: 20px 40px;
  text-align: center;
  cursor: pointer;
  border: 2px solid;
  border-radius: 4px;
  font-size: 20px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}

.intro-contact:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.intro-contact:hover:before {
  opacity: 1;
}

.intro-contact:hover {
  color: white !important;
  animation: crazy 0.8s linear infinite;
}

@keyframes crazy {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(-2px, -2px);
  }

  40% {
    transform: translate(-2px, 2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  80% {
    transform: translate(2px, 2px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.intro-contact .contact-text {
  vertical-align: middle;
}

@keyframes changeColor {
  0% {
    color: #FFFFFF;
    /* White */
  }

  20% {
    color: #FF0000;
    /* Red */
  }

  40% {
    color: #00FF00;
    /* Green */
  }

  60% {
    color: #0000FF;
    /* Blue */
  }

  80% {
    color: #FFFF00;
    /* Yellow */
  }

  100% {
    color: #FFFFFF;
    /* White */
  }
}

.AnimatedText {
  animation: changeColor 7s infinite;
}

.bold-text {
  font-weight: bolder;
}